<form class="form-inline my-2 my-lg-0" action="/search">
    <input class="form-control mr-sm-2" name="q" type="text" placeholder="Search" aria-label="Search">
    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
</form>

<% if current_user.individual %>

<h1> <%=  @individual.first_name %> <%=  @individual.last_name %> </h1>

<%= link_to 'See places', places_path %>



<% elsif current_user.owner %>

<h1> <%=  @owner.name %> </h1>

<%= link_to owner_path(@owner) %>

<% elsif current_user.owner && current_user.individual %>

<h1> <%=  @owner.name %> ,  <%=  @individual.name %> </h1>

<% end %>