
<% if current_user.individual %>
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Hey <%=@individual.first_name%>! </h1>
      <p class="lead">Welcome back!</p>
    </div>

<%= render partial: "/visits/show"%>

<%= link_to 'See all places', places_path %>

<% elsif current_user.owner %>

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Welcome back <%= @owner.name %>! </h1>
      <p class="lead">Here are your current businesses</p>
    </div>


<%= link_to "new place", new_owner_place_path(@owner) %>

<%= render partial: "/places/show"%>

<% elsif current_user.owner && current_user.individual %>

<h1> <%=  @owner.name %> ,  <%=  @individual.name %> </h1>

<% end %>


