<% if @user.individual && !@user.owner %>
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Hey <%=@individual.first_name%>! </h1>
      <p class="lead">Welcome back!</p>
      <div class="container vertical-center">
        <div class="row">
          <div class="col-md-4 mx-auto">
            <form class="form my-2 my-lg-0" action="/search">
              <input class="form-control mr-sm-2" name="q" type="text" placeholder="Search" aria-label="Search">
            <br/>
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search for a business</button>
            </form>
          </div>
        </div>
    </div>
<br/>
<% if @visits.empty?%>
  <p class="lead">You haven't check in anywhere yet, try searching for a business</p>
<br/>
<% else %>
  <p class="lead">Your Past Visits</p>
<br/>
<% end %>
  <%= render partial: "/visits/show"%>




<% elsif @user.owner && !@user.individual %>

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Welcome back <%= @owner.name %>! </h1>
      <p class="lead">Here are your current businesses, or, add a new one!</p>
      <%= link_to new_owner_place_path(@owner) do %>
            <img class="my-img" src=<%=asset_path("plus.svg")%>>
      <% end %>
    </div>

<br/>
<%= render partial: "/places/show"%>

<% elsif current_user.owner && current_user.individual %>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4"> Hey <%= @individual.first_name %>! Owner of <%=  @owner.name %>  </h1>
      <p class="lead">Welcome back!</p>
      <div class="container vertical-center">
        <div class="row">
          <div class="col-md-4 mx-auto">
            <form class="form my-2 my-lg-0" action="/search">
              <input class="form-control mr-sm-2" name="q" type="text" placeholder="Search" aria-label="Search">
            <br/>
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
        </div>
    </div>
<br/>
  <p class="lead">Your Past Visits</p>
<br/>
    <%= render partial: "/visits/show"%>
  <p class="lead">Your Places of Business</p>
<br/>
    <%= render partial: "/places/show"%>



<% end %>


