<div class="container vertical-center">
  <div class="row">
    <div class="col-md-4 mx-auto">
        <h1 class="a mb-3 font-weight-normal text-center">Personal Information</h1>
        <%= form_for @individual do |f| %>
        <% if @individual.errors %>
        <% @individual.errors.full_messages.each  do |message| %>
            <p class="badge badge-danger" style="background: #BD1E1E;"><%= message %></p>
        <% end %>
        <% end %>
        <%= f.hidden_field :user_id, value: current_user.id %>

<br>

        <p class="h5 mb-3 font-weight-normal text-center">First Name</p>
        <div class="field">
            <%= f.label :first_name, class:"sr-only" %>
            <%= f.text_field :first_name, class:"form-control"%>
<br>
        </div>


        <p class="h5 mb-3 font-weight-normal text-center">Last Name</p>
        <div class="field">
            <%= f.label :last_name, class:"sr-only" %>
            <%= f.text_field :last_name, class:"form-control"%>
<br>
        </div>
<br>
        <p class="h5 mb-3 font-weight-normal text-center">Phone Number</p>
        <div class="field">
            <%= f.label :phone, class:"sr-only"  %>
            <%= f.phone_field :phone,  class:"form-control", type: "tel"%>
        </div>
<br>
        <p class="h5 mb-3 font-weight-normal text-center">Date of Birth</p>
        <div class="field">
            <%= f.label :dob, class:"sr-only"  %>
            <%= f.date_field :dob, class:"form-control"%>
        </div>

<br>
        <p class="h5 mb-3 font-weight-normal text-center">Profile Pic (optional)</p>
        <div class="field">
          <%= f.label :profile_pic, class:"sr-only" %>
          <%= f.file_field :profile_pic, autofocus: true, class:"form-control" %>
        </div>
<br>
        <div class="actions">
            <%= f.submit "Submit", class: 'btn btn-lg btn-primary btn-block'%>
        </div>

        

        <% end %>


      </div>
     </div>
</div>
