<% @places.each do |place| %>

<div class="container marketing">

    <hr class="featurette-divider">

    <div class="row featurette">
<!-- Start Featurette -->

<!-- Business Info -->
    <div class="col-md-7 align-self-center">
        <h2 class="featurette-heading"><%= place.name %></h2>
<br>
        <p class="lead">Address : <%= place.location %> </p>
<br>
        <p class="lead">Phone : <%=place.phone %></p>
<br>
        <p class="lead">This establishment has a max occupancy of <strong><%= place.occupancy %></strong> people</p>
<br>
        <p class="lead">  <strong><%= place.visits.where(created_at: (Time.now - 1.hours)..Time.now).length %></strong> people have checked in, in the past hour</p>
<br>

<!-- Visit Option ONLY FOR USER -- CREATE HELPER METHOD-->
<% if current_user.individual && !current_user.owner %>
        <% @id = place.id %>
        <%= render partial: "/visits/form"%>

    </div> 
<!-- END Business Info -->

<!-- Business Image -->
    <div class="col-md-5">
    <% if place.image.attached?%>
        <%= image_tag(place.image, class:"img-fluid rounded-circle w-100") %>
    <% else%>
        <img class="my-img" style="width: 250px; height: 250px;" src=<%=asset_path("QuestionMark.png")%>>    <% end %>
<br>
    <div class="align-self-center">
<% end %>


<% if current_user.owner && !current_user.individual  %>

    </div>
 <!-- END Business Info -->

    <div class="col-md-5">

    <%= link_to place do %>
        <% if place.image.attached?%>
            <%= image_tag(place.image, class:"img-fluid rounded-circle w-100") %>
        <% else%>
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22500%22%20height%3D%22500%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20500%20500%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_17335ea736e%20text%20%7B%20fill%3A%23AAAAAA%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A25pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_17335ea736e%22%3E%3Crect%20width%3D%22500%22%20height%3D%22500%22%20fill%3D%22%23EEEEEE%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22185.109375%22%20y%3D%22261.203125%22%3E500x500%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
        <% end %>
    <% end %>        
<br>
    <div class="align-self-center">

    <%= link_to (edit_owner_place_path(place.owner, place) if place.owner) do %>
        <img class="my-img" src=<%=asset_path("gear.svg")%>>
    <% end %>

    <%= link_to place, method: "delete", data: { confirm: 'Are you sure you want to delete this business? This cannot be reversed' } do %>
        <img class="my-img" src=<%=asset_path("trash.svg")%>>
    <% end %>

<% end %>



<% if current_user.owner && current_user.individual %>
        <% @id = place.id %>
        <%= render partial: "/visits/form"%>
    </div> <!-- END Business Info -->
    <div class="col-md-5">

    <%= link_to place do %>
        <% if place.image.attached?%>
            <%= image_tag(place.image, class:"img-fluid rounded-circle w-100") %>
        <% else%>
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22500%22%20height%3D%22500%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20500%20500%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_17335ea736e%20text%20%7B%20fill%3A%23AAAAAA%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A25pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_17335ea736e%22%3E%3Crect%20width%3D%22500%22%20height%3D%22500%22%20fill%3D%22%23EEEEEE%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22185.109375%22%20y%3D%22261.203125%22%3E500x500%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
        <% end %>
    <% end %>
<br>

    <div class="align-self-center">

        <%= link_to (edit_owner_place_path(place.owner, place) if place.owner) do %>
            <img class="my-img" src=<%=asset_path("gear.svg")%>>
        <% end %>

        <%= link_to place, method: "delete", data: { confirm: 'Are you sure you want to delete this business? This cannot be reversed' } do %>
            <img class="my-img" src=<%=asset_path("trash.svg")%>>
        <% end %>

    <% end %>
    </div>

    </div>
<!--End Featurette reel -->
</div>

<hr class="featurette-divider">

</div>

<% end %>