<% @places.each do |place| %>
  <div>
    <p><%= place.name %></p>
    <p><%= place.location %></p>
    <p><%= place.phone %></p>
    <p><%= place.occupancy %></p>
    <p><%= place.owner_id %></p>
    <p><%= link_to 'Show', place %></p>
    <p><%= link_to 'Edit', edit_place_path(place) %></p>
    <button> <%= link_to "Delete", place, method: "delete" %></button>
  </div>
<% end %>