
<h1> <%= @place.name %> </h1>

<p> <%= @place.location %> </p>
<p> <%= @place.phone %> </p>
<p> <%= @place.occupancy %> </p>

<p> Ind ID <%= @individual.id %> </p>
<p>Place ID <%= @place.id %> </p>

<% if current_user.individual %>

<%= render partial: "visitform"%>

<% elsif current_user.owner %>


<%= link_to 'Show', @place %>
<%= link_to @place.owner.name, owner_path(@place.owner) if @place.owner %> (<%= link_to "Edit Place", edit_owner_place_path(@place.owner, @place) if @place.owner %>)
<%= link_to "Delete", @place, method: "delete" %>

<% end %>

