<nav class="navbar distancr-color bg-dark">
  <a class="navbar-brand" href="#"><img class="my-img" src=<%=asset_path("distancrlogo.png")%>></a>
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse" id="navbarsExample01" style="">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>

        <% if current_user %>

        <%= link_to "Sign out", destroy_user_session_path, :method => :delete, class:"nav-link"  %>

        <% else %>

        <%= link_to 'Sign Up', new_user_registration_path, class:"nav-link" %>

        <% end %>

      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-md-0">
      <input class="form-control" type="text" placeholder="Search" aria-label="Search">
    </form>
  </div>
</nav>


<% if @user.errors %>
                    <% @user.errors.full_messages.each  do |message| %>
                        <p class="badge badge-danger" style="background: #BD1E1E;"><%= message %></p>
                    <% end %>
                <% end %>


                <%= link_to "Your Places", owner_places_path(@owner) %>
<%= link_to "Your owner account", owner_path(@owner) %>